{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <h1>About us </h1>
     <p>The "TodaShop" online store specializes in the sale of art. The purpose of this store is to provide 
        a wide range of quality services for creating your character or drawing already existing characters.</p>
     <p>In the store you can find various examples of already created characters (Portfolio) so that you can
         choose references, or you can contact me yourself and show your own references.</p>
     <p>In addition, the store offers convenient and fast service, which makes the purchase process even more
         convenient and simple.</p>
     <h2>Main goal</h2>
     <p>To provide the most convenient and fast access to a wide assortment in order to maximize the 
        satisfaction of the needs and wishes of each client.</p>
{% endblock content %}