{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
    <h1>Contacts </h1>
     <h2>Dear visitors!</h2>
     <p>If you have any questions, suggestions or wish to contact us, please use the contact details 
        below. We are always ready to help you and answer your questions.</p>

    <h3>Contact information</h3>
    <ul>
        <li><strong>Company Name:</strong> TodaShop</li>
        <li><strong>Address:</strong> Ulraine, Volyn region</li>
        <li><strong>Phone:</strong> +380000000000</li>
        <li><strong>Email:</strong> info@todashop.com</li>
    </ul>
{% endblock content %}