{% extends 'shop/base.html' %}
{% load static %}

{% block content %}
<h1>Guarantee</h1>
<h3>Creation of digital character art</h3>
<p>Our team has extensive experience in creating unique digital arts of characters that fascinate with 
    their beauty and detail.</p>
<p>We offer the creation of digital character art based on your own concept and idea. Our artists will 
    skillfully turn your ideas into life and help create a unique image.</p>
<p>We guarantee the high quality of our work and use only the most modern technologies and software to 
    provide you with the best result.</p>
<p>If you have any questions or requests regarding your digital character art, our support is always 
    ready to help you. Contact us using the contact details provided on the <a href="{% url 'shop:contacts' %}">Contact page.</a></p>
<p>We believe that our digital character art will be a decoration of your project or just bring 
    you pleasure and breathe life into imaginary images. Order your unique digital character art today!</p>
{% endblock content %}